header {
    background-color: #3a546d;
}

header,
.banner,
.about,
.contacts,
footer {
    color: white;
}

/* main */
.box { 
    background-color: steelblue; /*REMOVE*/
}

.banner, 
.about {
    background-color: #1abc9c;
}

.portfolio-title,
.about-title,
.info-title,
.contacts-list,
footer {
    text-align: center;
}

.contacts{
    background-color: #3a546d;
}    

/* footer */
footer {
    background-color: #2c3e50;
}