
/* general */

.banner,
.about,
.contacts,
footer {
    color: white;
}

.banner, 
.about {
    background-color: #1abc9c;
}

.banner-star {
    font-size: 2rem;
    padding: 0 20px;
}

hr.line {
    width: 10rem;
    border: 2px solid currentColor;
    border-radius: 25px;
    margin: 0 auto;
    opacity: 100%;
    display: inline-block;
    vertical-align:middle;
    paddi
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}


/* header */
header {
    background-color: #3a546d;
}

header .navbar .collapse ul li .nav-list {
    color: white;
}


/* banner */
.avatar {
    width: 15rem;
}

.contacts{
    background-color: #3a546d;
} 

.portfolio {
    color: #333333;
}

/* cards */
.portfolio-card img {
    max-width: 100%;
    border-radius: 15px;
}

/* about */
.about button {
    color: currentColor;
    border: 1px solid currentColor;
}



/* footer */
footer {
    background-color: #2c3e50;
}